@tailwind base;
@tailwind components;
@tailwind utilities;
.draftEditor {
  min-height: 300px;
  max-height: max-content;
}
.overlay{
  background-color: rgba(0, 0,0,0,1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
